body {
    margin: 0;
    padding: 0;
}

.title-container {
    background-color: rgb(78, 78, 78);
    width: 100%;
    height: fit-content;
    position: relative;
    padding-left: 10px;
}

.title {
    font-size: 2.7em;
    font-weight: bold;
    letter-spacing: 3px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: rgb(41, 38, 38);
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.title-image {
    width: 60px;
    height: 60px;
}

.video {
    width: 100%;
}

.subtitle {
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.img-container {
    width: 90%;
    margin: 20px auto;
}

.img-col {
    text-align: center;
    padding: 0;
}

.screen-img {
    width: 100%;
    height: 100%;
}

.card {
    width: 40%;
    height: fit-content;
    margin: 20px auto;
    border: 2px solid black;
    border-radius: 25px;
    text-align: center;
    padding: 20px;
}

.android {
    width: 100%;
}

.download {
    text-decoration: none;
}

.button {
    border: 2px solid rgb(6, 212, 6);
    border-radius: 25px;
    padding: 20px 40px;
    font-size: 2em;
    color: rgb(6, 212, 6);
    text-decoration: none;
}

.button:hover {
    background-color: rgb(6, 212, 6);
    color: white;
    box-shadow: 5px 10px #888888;
    transition: box-shadow 0.2s ease-in-out;
    transition: color 0.2s ease-in-out;
    transition: background-color 0.2s ease-in-out;
}

.button:active {
    background-color: rgb(6, 212, 6);
    color: white;
}

@keyframes shadow {
    from {
        box-shadow: 0px 0px;
    }
    to {
        box-shadow: 5px 10px;
    }
}

@media (max-width: 550px) {
    .button {
        font-size: 1em;
        padding: 10px;
    }
}

@media (max-width: 350px) {
    .title-image {
        width: 30px;
        height: 30px;
    }

    .title {
        font-size: 1.7em;
    }

    .subtitle {
        font-size: 1.5em;
    }

    .text-button {
        font-size: 1em;
    }
}

footer {
    background-color: #888888;
    padding: 10px 25px;
}

@media (max-width: 250px) {
    .button {
        font-size: 0.5em;
    }

    .subtitle {
        font-size: 1em;
    }
}

@media (max-width: 220px) {
    .title-image {
        width: 20px;
        height: 20px;
    }

    .title {
        font-size: 1.7em;
    }
}

@media (max-width: 150px) {
    .title-image {
        width: 20px;
        height: 20px;
    }

    .title {
        font-size: 0.7em;
    }

    .button {
        font-size: 0.3em;
    }

    .subtitle {
        font-size: 0.7em;
    }
}